@use '../abstracts/breakpoints';
@use '../abstracts/typography';
@use '../abstracts/colors';

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: typography.$main-font;
  font-size: typography.$main-font-size + px;
  color: colors.$main-color;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.container {
  max-width: breakpoints.$container-xxl;
  margin: 0 auto;
  padding: 0 15px;
}
